*.deb
**/*.jar
target
build
.gradle
flink-logs
.versions
.localstack
tmp
.terraform
terraform.tfstate.d
terraform.tfstate
terraform.tfstate.backup
tf.plan
tf.json
vendor
go.sum
spark-warehouse
.bsp
.bsp/*
